.closeDropdownBeer{
    height: 0;
    visibility: hidden;
    display: none;
    background-color: white;
}

.dropDownContainer{
    height: auto;
    padding: 10px 10px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  color: white;
}
.dropdownHolder{
    width: 95%;
    height: 90%;
    border: 1px solid rgb(255, 255, 255);
padding: 10px;
}
.infoSide{
   align-self: flex-start;
}
.imgSmall{
    height: 20px;
}
.head{
    margin-left: 5px;
    font-weight: 700;
}
.infoBeerRow{
    display: flex;
    flex-direction: row;
   
  margin-bottom: 10px;
   
}
.text{
    font-size: 1.3rem;
}
.dropdownHeader{
    font-size: 2rem;
}

.imageSide{
    height: auto;
    width: 100px;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.dropdownHolder{
 
}
.holdBeerInfo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; 
}


.holdShotDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid white;
    padding: 5px 5px;
}

.NumberShotsText{
    font-size: 2.5rem;
    margin-right: 10px;
}
.shotComponentContainer{
    
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    font-size: 2rem;
    transition: all .2s ease;
}
.shotComponentContainer h1{
    font-size: 2rem;
    padding: 10px 10px;
    border: 1px dashed white;
    margin-top: 10px;
}
.sumShots{
    font-size: 2.3rem;
    color: gold;
}
.closeShotComponentContainer{
    height: 0;
   visibility: hidden;
    transition: all .2s ease;

}
.closeShotComponentContainer div{
    display: none;

}


.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popupContent {
  background: #fff;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.shotsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: 20px 0;
}

.shotBox {
  background: #f4f4f4;
  border-radius: 10px;
  padding: 15px;
 min-height: 100px;
  cursor: pointer;
  transition: 0.2s;

  color: black;
}
.shotName{
    font-size: 2rem;
}
.shotBox:hover {
  background: #ddd;
}
.shotHeader{
    color: black;
    font-size: 2rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}
