.closeDropdownBeer{
    height: 0;
    visibility: hidden;
    display: none;
    background-color: white;
}

.dropDownContainer{
    height: auto;
    padding: 10px 10px;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  color: white;
}
.dropdownHolder{
    width: 95%;
    height: 90%;
    border: 1px solid rgb(255, 255, 255);
padding: 10px;
}
.infoSide{
   align-self: flex-start;
}
.imgSmall{
    height: 20px;
}
.head{
    margin-left: 5px;
    font-weight: 700;
}
.infoBeerRow{
    display: flex;
    flex-direction: row;
   
  margin-bottom: 10px;
   
}
.text{
    font-size: 1.3rem;
}
.dropdownHeader{
    font-size: 2rem;
}

.imageSide{
    height: auto;
    width: 100px;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-size: cover;
}
.dropdownHolder{
 
}
.holdBeerInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}




.shotComponentContainer{
    
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transition: all .2s ease;
}
.shotComponentContainer h1{
    font-size: 2rem;
    padding: 10px 10px;
    border: 1px dashed white;
    margin-top: 10px;
}
.sumShots{
    font-size: 2.3rem;
    color: gold;
}
.closeShotComponentContainer{
    height: 0;
   visibility: hidden;
    transition: all .2s ease;

}
.closeShotComponentContainer h1{
    display: none;

}