.categoryHeader{
    font-size: 3rem;
    color: white;
    direction: rtl;
    padding: 10px 20px ;
    background-color: black;
    outline: 1px solid white;
    outline-offset: -5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.categorySmallHeader{
        font-size: 3rem;
    color: white;
    direction: rtl;
    padding: 10px 20px ;
  
}
.secondaryHeader{
    font-size: 3rem;
    font-weight: 100;
}
.priceHeader{
    font-size: 2rem;
}

.beerHeader{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid white;
    margin: 0 auto;
    position: sticky;
    top: 7vh;
    left: 0;
    z-index: 999999;
    background-color: black;
    width: 100%;
}
.bgb{
    background-color: rgba(3, 28, 50);
    padding: 5px 20px;
    border-radius: 10px;
}

.cupSize{
    font-size: 2rem;
   
}
.categoryDetails{
    padding: 10px 20px;
}