.itemRowTab{
    height: 130px;
   display: flex;
   flex-direction: column;
   padding-right: 40px;
   padding-left: 10px;
   justify-content: center;
    border-bottom: 1px solid black;
    /* background-image: url('../images/flag/gb-sct.svg'); */
    background-size: cover;
    background-position: center ;

}
.itemsFirstChild{
    direction: rtl;
 
}

.menuRowItem{
    display: flex;
    flex-direction: row;
align-items: center;
    justify-content: space-between;

}
.line{
    width: 100%;
    height: 1px;
    background-color: black;
}