.mainMenu{
    height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('../images/resize/ayasit1.jpg');
    background-size: cover;
    object-fit: cover;
   background-position: center;
   transition: all .5s;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
}

@keyframes eatAnimation {
    0% {
      background-image: url('../images/resize/ayasit1.jpg');
      filter: blur(0);
    }
    40% {
      background-image: url('../images/resize/ayasit1.jpg');
      filter: blur(0);
    }
    50% {
      background-image: url('../images/resize/ayasit2.jpg');
      filter: blur(0);
    }
    70% {
      background-image: url('../images/resize/ayasit2.jpg');
      filter: blur(4px);
    }
    100% {
      background-image: linear-gradient(rgba(0, 0, 0, 0.67), rgba(0, 0, 0, 0.622)), url('../images/resize/ayasit2.jpg');
      filter: blur(4px);
    }
  }
@keyframes exitMainMenuAnimation {
    0%{
        filter: blur(4px);
        background-image:linear-gradient(rgba(0, 0, 0, 0.38),rgba(0, 0, 0, 0.309)), url('../images/resize/ayasit2.jpg');

    }

    50%{
        filter: blur(0);
        background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url('../images/resize/ayasit1.jpg');
 
    }
   
    100%{
        filter: blur(0);
        background-image: url('../images/resize/ayasit1.jpg');

    }
  }