.menuTab{
min-height: 200px;
 background-color: transparent;
 color: white;
border-radius: 10px;
background-position: center;
background-size: cover;
object-fit: cover;
border: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;

    
}
.menuGrid{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  direction: rtl;
    margin-top: 60px;
}

.categoryTab{
    min-height: 130px;
    width: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    background-size: cover;
    background-position: left;

}
.categoryFirstChild{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



